
*{
    padding: 0;
    margin:0;
}


body{
    background-color: black;
}

.main{
    background-image: url("background\ image.jpg");
    height: 664px;
    position: relative;
    width: 100%;
    opacity: 0.74;
    background-color: black;
    background-position: center center;
    background-size: max(1200px,100vw);
    background-repeat: no-repeat;}

nav{
    max-width: 60vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100px;
    font-size: 12px;
    flex-wrap: wrap;
    
}
nav img{
        color: red;
        position: relative;
        z-index: 10;
        width: 114px;
        
}

nav button{
     position: relative;
    z-index: 10;


}


.ok{
    height: 85.8%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    gap:23px;
    padding: 0 32px;
    text-align: center;
    flex-wrap: wrap;
}
.x{
    padding: 3px 24px;
    background-color: red;
    position: relative;
    border: 1px solid white;
    border-radius: 0.25rem;
    font-weight: bold;
    cursor:pointer;
    gap:16px;
    
    
    
}
.separation{
    background-color: rgb(71, 69, 69);
    height: 7px;
    position: relative;
    z-index: 20;
}
.x1{
    padding: 3px 8px;
    color:white;
    border-color: grey;
}
.x2{
    background-color: transparent;
    
}
.main input{
    padding:0 32px;
     color: white;
     background-color: transparent;
     border-radius: 4px;
     font-size: 20px;
}
.ok:nth-child(1){
    font-size: 500;
    font-weight: bolder;
}
.ok:nth-child(2){
    font-size: 400;
    font-weight: 500; 
}
.ok:nth-child(3){
    font-size: 300;
    font-weight: 500;
}
.first{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    align-items: center;
    flex-wrap: wrap;
    padding:34px 0;
}

.secimg{
    position: relative;
}
.secimg img{
    width: 30vw;
    position: relative;
    z-index: 10;
}
.secimg video{
    position: absolute;
    object-fit: contain;
    width:23vw;
    top:4vw;
    right:3vw;
}
.secimg2{
    position: relative;
}
.secimg2 img{
    width: 30vw;
    position: relative;
    z-index: 10;
}
.secimg2 video{
    position: absolute;
    object-fit: contain;
    width:18vw;
    top:2vw;
    right:6vw
}
.faq{
    color: white;
    text-align: center;
    padding:34px;
    
}
.faqbox:hover{
    background-color: rgb(37, 36, 36);
    color: white;
}
.faqbox svg{
    filter:invert(1) 
}
.faqbox{
    transition: ;
    display:flex;
    background-color: gray;
    color: white;
    width:70vw;
    padding: 24px;
    margin: auto;
    justify-content: space-between;
    cursor: pointer;
    
}

footer span{
    margin: 100px;
    max-width: 60vw;
    color: white;
    
}
.r{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-decoration-color: white;
    
}
footer a{
    color: white;
    margin:2px;
    padding:4px;
    text-align: left;
    position: relative;
    
}

.footeritem{
    color: white;
    display: flex;
    flex-direction: column;

    
}
.f{
    margin: 3px;
    padding:2px;
    position: relative;
    
    
    

}
.m{
    position: relative;
    
    border-radius: 0.25rem;
    font-weight: bold;
    background-color: transparent;
    color: white;
    border-color: grey;
    margin: 2px;
    padding: 2px;
}
@media only screen and (max-widt:1300px){
    nav {
        max-width:90vw;
    }
    .first{
        flex-wrap: wrap;
    }
    .separation{
        position: relative;
        top:34px;
    }
    .secimg img{
        width:350px;
    }
    .secimg video{
        width: 305px;
    }
    .x{
        align-items: center;
        justify-content: center;
        gap:16px;
    }
    footer{
        max-width: 90vw;
        padding:75px 0;
    }
    .footeritem{
        align-items: center;
    }
}
        
        


}

